.cuerpo 
{
    background-color: mediumpurple;
    color: rebeccapurple;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1.5;
}
/*Cambiar todo lo que se encuentra dentro de body*/