.header {
  text-align: center;
}

.space, .footer{
  padding: 10px;
}

.footer {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aside1 {
  background-color: aquamarine;
  padding: 20px;
}

.main {
  background-color: violet;
  padding: 20px;
}

.aside2 {
  background-color: aquamarine;
  padding: 20px;
}
