.container {
  height: 1500px;
  width: 1000px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.item {
  order: 1;
  width: 1000px;
  text-align: center;
}


.header {
  background-color: limegreen;
  width: 1000px;
  order: 0;
}

.main {
  background-color: mediumaquamarine;
  width: 1000px;
  order: 0;
}

.footer {
  background-color:lightgreen;
  width: 1000px;
  order: 0;
}

